#about {
	padding-top: var(--header-height, 0);
	padding-bottom: 85px;
}

#about .section-subtitle {
	margin-top: 0.5em;
}

#about .section-subtitle {
	text-align: center;
}

.about-hover-cards-container {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

#about-self-portrait {
	width: 200px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
}

#about-content-intro {
	min-width: 288px;
	flex: 1 1 0;
}

#about-content {
	margin-top: 60px;
	gap: 16px;
	flex-wrap: wrap;
}

#about-content img:nth-child(3),
#about-content > div {
	min-width: 433px;
	flex: 1 1 0;
	max-width: 527px;
}

#about-buttons {
	justify-content: space-between;
	justify-self: center;
}

#about-work-button {
	margin-top: 16px;
}

#about-contact-button {
	margin-left: 32px;
	margin-top: 16px;
}

@media screen and (max-width: 1366px) {
	#about {
		padding-left: 40px;
		padding-right: 40px;
	}

	#about {
		padding-bottom: 85px;
	}

	#about-content img:nth-child(3),
	#about-content > div {
		flex: 1 1 0;
		max-width: none;
	}

	#about-content img:nth-child(3) {
		max-width: 600px;
	}

	#about-buttons {
		flex-wrap: wrap;
		column-gap: 32px;
		justify-content: flex-start;
	}

	#about-buttons > a {
		margin: 16px 0 0 0;
	}
}

@media screen and (max-width: 481px) {
	#about {
		padding-top: calc(var(--header-height, 0) + 50px);
	}

	#about-content {
		margin-top: 32px;
	}

	.hover-card {
		min-width: 288px;
	}

	#about {
		padding-left: 16px;
		padding-right: 16px;
	}

	#about-content img:nth-child(3),
	#about-content > div {
		min-width: 288px;
		flex: 1 1 0;
		max-width: 420px;
	}

	#about-buttons {
		grid-column-gap: 8px;
	}

	.button {
		min-width: 120px;
		padding: 8px 12px;
	}
}
