#skills {
	padding-top: var(--header-height, 0);
}

#skills-content-container {
	max-width: 1366px;
	margin-top: 60px;
	display: grid;
	grid-column-gap: 16px;
}

#hard-skills-container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	--hard-skills-width: 130px;
}

.hard-skills-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: var(--hard-skills-width);
}

.hard-skills-content img {
	width: 100%;
}

.hard-skills-content p {
	text-align: center;
	font-size: 32px;
}

@media screen and (max-width: 1366px) {
	#skills {
		padding-left: 40px;
		padding-right: 40px;
	}

	#skills-content-container {
		grid-template-columns: 100%;
		grid-row-gap: 32px;
	}

	#hard-skills-container {
		grid-row: 2;
		grid-column: 1;
		justify-self: center;
	}
}

@media screen and (max-width: 768px) {
	#hard-skills-container {
		--hard-skills-width: 100px;
		gap: 32px;
	}
}

@media screen and (max-width: 481px) {
	#skills {
		padding-top: calc(var(--header-height, 0) + 50px);
	}

	#skills-content-container {
		margin-top: 32px;
	}

	.hard-skills-content p {
		font-size: 16px;
	}

	#skills {
		padding-left: 16px;
		padding-right: 16px;
	}

	#hard-skills-container {
		grid-template-columns: repeat(2, 100px);
	}

	#skills-content-container {
		padding: 0 16px;
	}
}
