#home {
	--min-height: 754px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	font-size: 28px;
	min-height: var(--min-height, 754px);
	font-family: 'Playfair Display';
	padding-top: var(--header-height, 0);
}

#home-content {
	height: 100%;
	padding-left: 16px;
	padding-right: 16px;
}

#home-content-container {
	position: relative;
	min-height: calc(var(--min-height, 754px) - var(--header-height, 69px));
	height: 100%;
	width: 100%;
}

#home-content-container::before {
	content: '';
	position: absolute;
	opacity: 0.25;
	background-image: url(../images/home/raymond-coding.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: calc(var(--min-height, 754px) - var(--header-height, 69px));
	height: 100%;
}

#hero-text-name {
	font-size: 60px;
	font-weight: 400;
	text-align: center;
	padding-top: 2.35em;
	color: var(--color-palette-50);
	letter-spacing: 0.35em;
	text-transform: uppercase;
}

#hero-text-intro,
#tagline,
#read-more-text {
	font-size: 28px;
	font-weight: 400;
}

#tagline {
	padding-top: 4.786em;
	color: var(--color-palette-50);
	word-break: break-word;
	text-align: center;
}

#read-more {
	width: 100%;
}

#read-more-arrow {
	width: 32px;
	height: 32px;
	margin-top: 0.857em;
	transform: rotate(180deg);
}

@media screen and (max-width: 1366px) {
	#read-more .separating-line {
		margin-top: 24px;
	}
}

@media screen and (max-width: 768px) {
	#hero-text-name {
		font-size: 48px;
	}
}

@media screen and (max-width: 481px) {
	#home-logo {
		width: 120px;
	}

	#home,
	#home > * {
		--min-height: 450px;
	}

	#hero-text-name {
		font-size: 24px;
	}

	#hero-text-intro {
		font-size: 12px;
	}

	#tagline,
	#read-more-text {
		font-size: 16px;
	}

	#read-more-arrow {
		width: 16px;
		height: 16px;
	}
}
