@import url('https://fonts.googleapis.com/css2?family=Asap&family=Cinzel&family=Playfair+Display&display=swap');
/********************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. GENERAL
 * 2. HEADER
 * -- 2a. Logo
 * -- 2b. Navbar
 * -- 2c. Contact Logos
 * 3. MAIN
 * -- 3a. Home
 * -- 3b. About
 * -- 3c. Projects
 * -- 3d. Skills
 * -- 3e. Contact
 * 4. FOOTER
 * 5. MEDIA QUERIES
 ********************************************************/

/* 1. General */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--header-height: 66px;
	--color-palette-50: #f0f4f8;
	--color-palette-100: #d9e2ec;
	--color-palette-200: #bcccdc;
	--color-palette-300: #9fb3c8;
	--color-palette-400: #829ab1;
	--color-palette-500: #627d98;
	--color-palette-600: #486581;
	--color-palette-700: #334e68;
	--color-palette-800: #243b53;
	--color-palette-900: #102a43;
	--logo-size: 48px;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-palette-800);
	color: var(--color-palette-200);
	min-width: 320px;
	width: 100%;
}

::-webkit-scrollbar {
	display: none;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.separating-line {
	width: 50%;
	border: 1px;
	border-bottom-style: solid;
	margin-top: 2.82em;
}

.icon {
	width: 24px;
	height: 24px;
}

.button {
	display: inline-block;
	color: var(--color-palette-200);
	text-decoration: none;
	border: solid 1px var(--color-palette-200);
	border-radius: 10px;
	padding: 16px 24px;
	transition: 0.3s;
	min-width: 200px;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	border: solid 1px var(--color-palette-50);
	color: var(--color-palette-50);
}

button {
	cursor: pointer;
}

.error-text {
	color: red;
}

/* 2a. Logo */
#home-logo {
	background-image: url(../images/header/logo.png);
	background-size: cover;
	background-position: center;
	aspect-ratio: 3 / 1;
	width: 150px;
}

#home-logo:hover {
	background-image: url(../images/header/animated-logo.png);
}

/* 2c. Contact Logos */
.logo {
	display: inline-block;
	aspect-ratio: 1 / 1;
	width: var(--logo-size, 48px);
	background-size: contain;
	transition: 0.3s;
}

.linkedin-logo {
	background-image: url('../images/linkedin-light.png');
}

.linkedin-logo:hover {
	background-image: url('../images/linkedin-dark.png');
}

.github-logo {
	background-image: url('../images/github-light.png');
}

.github-logo:hover {
	background-image: url('../images/github-dark.png');
}

/* 3. MAIN */
main {
	font: 24px Asap;
	display: flex;
	flex-direction: column;
}

.section-title {
	font: 48px Cinzel;
	color: var(--color-palette-50);
	text-align: center;
}

.section-subtitle {
	font: 32px Cinzel;
	color: var(--color-palette-50);
}

/* 4. FOOTER */
footer {
	font: 20px 'Playfair Display';
	text-align: center;
	margin: 28px 0;
}

@media screen and (max-width: 481px) {
	:root {
		--logo-size: 32px;
		--header-height: 49px;
	}

	.section-title {
		font-size: 32px;
	}

	.section-subtitle {
		font-size: 24px;
	}

	footer {
		font-size: 12px;
	}

	main {
		font-size: 16px;
	}

	.button {
		min-width: 120px;
		padding: 8px 12px;
	}
}
